<app-navigation/>
<div class="container">
  <router-outlet/>
</div>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h3>Subcribe Newsletter</h3>
          <p>Subscribe newsletter to get 5% on all products.</p>
        </div>
        <div class="col-6">
          <form class="footer-search">
            <input class="form-control" type="text" placeholder="Enter your email" />
            <button class="btn btn-danger" type="submit">Subscribe</button>
          </form>
        </div>
        <div class="col-3">
          <ul class="brands-footer">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-youtube"></i></li>
          </ul>
        </div>
      </div>
  
      <hr/>
  
      <nav class="navbar row last-footer">
        <div class="col-4">
          <ul class="last-links-icon">
            <li><i class="fas fa-store-alt navbar-brand"></i></li>
            <h2><strong>Capital</strong> Shop</h2>
          </ul>
        </div>
        <div class="col">
          <h5>Shop Men</h5>
          <ul>
            <li>Clothing Fashion</li>
            <li>Winter</li>
            <li>Summer</li>
            <li>Casual</li>
            <li>Formal</li>
          </ul>
        </div>
        <div class="col">
          <h5>Shop Women</h5>
          <ul>
            <li>Clothing Fashion</li>
            <li>Winter</li>
            <li>Summer</li>
            <li>Casual</li>
            <li>Formal</li>
          </ul>
        </div>
        <div class="col">
          <h5>Shop Baby</h5>
          <ul>
            <li>Clothing Fashion</li>
            <li>Winter</li>
            <li>Summer</li>
            <li>Casual</li>
            <li>Formal</li>
          </ul>
        </div>
        <div class="col">
          <h5>Quick Links</h5>
          <ul>
            <li>Track Your Order</li>
            <li>Support</li>
            <li>FAQ</li>
            <li>Carrier</li>
            <li>About</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </nav>
      <hr/>
      <div class="copyright-line">
        <p>Copyright &copy;2023 All rights reserved</p>
      </div>
    </div>
  </footer>