.form-box {
	margin: 1% 25%;
	padding: 1%;
	box-shadow: 6px 0px 15px #ddd,
		-6px 0px 15px #ddd;
}

mat-card-header {
	width: 100%;
	display: flex;
	text-align: center;
	margin: 1% 0 3% 0;
}

mat-card-title {
	font-size: 1.8em;
	margin-bottom: 3%;
}

mat-card-content>div>mat-form-field {
	width: 100%;
	padding: 0 10%;
}

input, textarea {
	margin-top: 1rem;
	padding: .2rem;
}

div.button {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 1% 0;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea) {
	outline: 1px groove rgb(248, 7, 7);
}