<mat-card class="form-box" *ngFor="let formCard of formBoxes">
  <mat-card-header class="row">
    <mat-card-title class="form-title">Add New {{formCard.formTitle}}</mat-card-title>
    <ngb-alert *ngIf="formCard.responseMessage != ''" [ngClass]="{'success': formCard.isSuccess, 'error': !formCard.isSuccess}">
      {{formCard.responseMessage}}
    </ngb-alert>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="input-container">
      <mat-form-field *ngIf="!formCard.isThird; else thirdFirstParameter">
        <mat-label>{{formCard.firstLabel}}</mat-label>
        <input matInput name="first-input" type="number" [(ngModel)]="formCard.firstNgModel" />
      </mat-form-field>
      <ng-template #thirdFirstParameter>
        <mat-form-field>
          <mat-label>{{formCard.firstLabel}}</mat-label>
          <input matInput name="first-input" type="text" [(ngModel)]="formCard.currencySymbol" />
        </mat-form-field>
      </ng-template>
      <mat-form-field>
        <mat-label>{{formCard.secondLabel}}</mat-label>
        <input matInput name="second-input" type="text" [(ngModel)]="formCard.secondNgModel" />
      </mat-form-field>
      <mat-form-field *ngIf="formCard.isThird">
        <mat-label>{{formCard.thirdLabel}}</mat-label>
        <input matInput name="third-input" type="text" [(ngModel)]="formCard.thirdNgModel" />
      </mat-form-field>
      <div class="button">
        <button mat-raised-button type="button" color="warn" (click)="formCard.buttonFunction ? formCard.buttonFunction(formCard) : null">
          Add {{formCard.buttonLabel}}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
