.form-box {
	width: 70%;
	margin: 3% 15%;
}

.form-title {
	display: flex;
	justify-content: center;
	margin-bottom: 1.2rem;
}

.card-body {
	padding: 0rem 2rem;
	width: 100%;
}

.input-container {
	display: flex;
}

mat-form-field {
	margin: 0 .5rem;
}

div.button {
    display: flex;
    justify-content: center;
}

button {
	margin: .5rem 0 .5rem 3rem;
}