.form-box {
	margin: 1% 25%;
	padding: 1%;
	box-shadow: 3px 0px 10px #aaa,
		-3px 0px 10px #aaa;
}

mat-card-header {
	width: 100%;
	display: flex;
	text-align: center;
	margin: 1% 0;
}

mat-card-title {
	font-size: 1.8em;
	margin-bottom: 3%;
}

mat-card-content>div>mat-form-field {
	width: 100%;
	padding: 0 10%;
}

div.button {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 1% 0;
}

.errors-container>p {
	color: rgb(248, 7, 7);
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea) {
	outline: 2px groove rgb(248, 7, 7);
}