<div class="card form-box" *ngFor="let formCard of formBoxes">
  <div class="row card-title">
    <h3 class="form-title">Add New {{formCard.formTitle}}</h3>
    <div *ngIf="formCard.responseMessage != ''" class="alert"
      [class.alert-success]="formCard.responseMessage.startsWith(formCard.responseStartsWith)"
      [class.alert-danger]="!formCard.responseMessage.startsWith(formCard.responseStartsWith)"
    >
      <p>{{formCard.responseMessage}}</p>
    </div>
  </div>
  <div class="row card-body">
    <form class="row m-3 align-item-center justify-content-center">
      <div class="col">
				<div class="row" *ngIf="!formCard.isThird; else thirdFirstParameter">
					<label>{{formCard.firstLabel}}</label>
					<input
						name="first-input" type="number" class="form-control"
						[(ngModel)]="formCard.firstNgModel"
					/>
				</div>
				<ng-template #thirdFirstParameter>
					<label>{{formCard.firstLabel}}</label>
					<input
						name="first-input" type="text" class="form-control"
						[(ngModel)]="formCard.currencySymbol" (ngModelChange)="formCard.currencySymbol = $event"
					/>
				</ng-template>
				<div class="row">
					<label>{{formCard.secondLabel}}</label>
					<input
						name="second-input" type="text" class="form-control"
						[(ngModel)]="formCard.secondNgModel" (ngModelChange)="formCard.secondNgModel = $event"
					/>
				</div>
				<div *ngIf="formCard.isThird" class="row">
					<label>{{formCard.thirdLabel}}</label>
					<input
						name="third-input" type="text" class="form-control"
						[(ngModel)]="formCard.thirdNgModel"
					/>
				</div>
        <button type="submit" class="btn btn-danger"
        	(click)="formCard.buttonFunction ? formCard.buttonFunction(formCard) : null"
				>
				Add {{formCard.buttonLabel}}</button>
      </div>
    </form>
  </div>
</div>