<ngb-carousel class="carousel-wrapper" [interval]="3000" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let image of carouselImages, let i = index">
      <div class="carousel-img-wrapper">
        <img id="carousel-img" src="assets/img/home/hero-carousel/{{image.src}}" [class.female-img]="i%2" [alt]="image.alt" />
        <div class="carousel-caption">
          <div [class.is-male]="i%2==0" [class.is-female]="i%2">
            <span class="span-text">Fashion Sale</span>
            <h3>{{image.title}}</h3>
            <p>{{image.description}}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container mt-4">
    <div class="row">
      <div class="col-4" *ngFor="let image of cardImages">
        <div class="full-card">
            <img class="card-img" src="../../assets/img/home/categories-card/{{image.src}}" [alt]="image.alt" />
            <a><p class="card-text">{{image.text}}</p></a>
        </div>
      </div>
    </div>
    <div class="row">
      <app-trending/>
    </div>
    <div class="row">
      <app-testimonials/>
    </div>
    <div class="row">
      <app-suggested/>
    </div>
    <div class="row">
      <app-latest/>
    </div>
  </div>