<mat-sidenav-container class="search-container">
  <mat-sidenav mode="side" opened>
    <app-searcher/>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="product-container" *ngFor="let product of products"
      [ngClass]="{ 'is-first': product.isFirst, 'is-last': product.isLastThree }"
    >
      <div class="product-image" (click)="NavigateToProduct(product)">
        <img src="../../assets/img/home/trending/{{product.presentationImage}}" />
      </div>
      <div class="product-captures">
        <a (click)="NavigateToProduct(product)">
          <h3>{{ product.name }}</h3>
        </a>
        <div class="price">
          <p>
            {{ product.price != null || product.price != undefined ?
              (product.price | number: "1.0-2" | currency: "USD") : "-" }}
          </p>
          <p>
            {{ product.discount != null || product.discount != undefined ?
              (product.discount | percent: "2") : "-" }}
          </p>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>