<mat-sidenav-container class="search-container">
  <mat-sidenav mode="side" opened>
    <app-searcher/>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="product-container" *ngFor="let product of products"
      [ngClass]="{ 'is-first': product.isFirst, 'is-last': product.isLastThree }"
    >
      <div class="product-image" (click)="NavigateToProduct(product)">
        <img [src]="product.presentationImage" />
      </div>
      <div class="product-captures">
        <a (click)="NavigateToProduct(product)">
          <h3>{{ product.name }}</h3>
        </a>
        <p>{{ product.price }}</p><p>{{ product.discount }}</p>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>