.search-container {
    min-height: 50rem;
}

mat-sidenav {
    width: 30%;
}

mat-sidenav-content {
    padding-left: 1rem;
}

div.product-container {
    position: relative;
    height: 15rem;
    width: 33%;
    display: inline-block;
    margin-bottom: 2.5rem;
}

div.product-container.is-first {
    margin-left: 1%;
}

div.product-container.is-last {
    margin-bottom: 0;
}

div.product-container>div.product-image {
    min-height: 100%;
}

div.product-container>div.product-image>img {
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

div.product-container>div.product-captures {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    bottom: .5em;
    color: #fff;
    text-shadow: 1px 1px 1px #000,
        -1px -1px 1px #000,
        -1px 1px 1px #000,
        1px -1px 1px #000;
}

div.product-container>div.product-captures>a>h3 {
    margin-bottom: 0;
}

div.product-container>div.product-captures>div.price>p {
    display: inline;
}