<div class="row trending-title">
  <h1>Trending This Week</h1>
</div>
<div class="row">
  <div class="container-fluid trending-main">
    <div class="slider-wrapper">
      <div class="slider-body">
        <div class="slider-item" *ngFor="let item of items">
          <div class="slider-text">
            {{item.title}}
            <div class="row">
              <div class="slider-price">{{item.price}}</div>
              <div class="slider-discount">{{item.discount}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-btn">
        <button type="button" class="slider-btn-prev">Prev</button>
        <button type="button" class="slider-btn-next">Next</button>
      </div>
    </div>
  </div>
</div>